{% assign entries = site[include.collection] %}

{% assign entries = entries | group_by: 'ref' %}

{% if include.sort_by %}
  {% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% assign entries = entries | reverse %}

{% for group in entries %}
  {% if group.items.size > 1 %}
    {% assign post = group.items | where: "lang",site.lang | first %}
  {% else %}
    {% assign post = group.items[0] %}
  {% endif %}
  {% include archive-single-collection.html collection=include.collection %}
{% endfor %}
